body{
    background-color: blue;
}
.all p{
    color: gray;
}
.all div{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
h2,p{
    text-align: left;
    margin-left: 70px;
}
.all{
    background-color: white;
    width: 30%;
    height: 55%;
    text-align: center;
    margin-left: 34%;
    border-radius:5% ;
    margin-top: 10%;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(34, 34, 83);
  
}

.but{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border:3px solid  rgb(34, 34, 83);
}
.sub{
  color: white;
  background-color: rgb(34, 34, 83);
  width: 250px;
  height: 40px;
  border-radius: 20%;
}